.gold-button {
  margin: 20px !important;
  background-color: gold;
}
.flex-parent {
  display: flex;
  background-image: url("../../images/home chart.jpg");
  background-size: cover;
  height: 25rem;
}
.flex-left {
  flex: 2;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-right {
  flex: 1;
  background-image: url("../../images/2.png");

  background-position-x: -250px;
  background-position-y: -50px;
  object-fit: cover;
}
.white-text {
  color: white;
}
.bottom {
  padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .flex-right {
    flex: 0;
  }
}
