.comments {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.comments-title {
    text-align: center;
    margin-bottom: 25px;
}

/*at least must have width 890 to apply*/
@media screen and (min-width: 600px) {
    .comments {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}



